    * {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    body>* {
        margin-bottom: 2em;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .header {
        padding-top: 3em;
        padding-bottom: 2em;
    }
    
    .nav-header {
        display: grid;
        grid-template-columns: 5vw 20vw 50vw 10vw 5vw;
    }
    
    .bag-header-link-container,
    .header-shop-name-container {
        z-index: 10;
    }
    
    #header-shop-name {
        font-size: 2em;
        font-weight: bold;
    }
    
    .category-list-container {
        padding-top: 1em;
    }
    
    .category-list {
        list-style-type: none;
        padding-left: .5em;
        margin-top: .5em;
    }
    
    .category-list li {
        margin-bottom: .5em;
        font-weight: bold;
    }
    
    .category-list-header {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    a:hover,
    .svg-icon-bag:hover path,
    .svg-icon-bag:hover polygon,
    .svg-icon-bag:hover rect {
        color: darkseagreen;
        fill: darkseagreen;
    }
    
    .svg-icon-bag {
        width: 2em;
        height: 2em;
    }
    
    .svg-icon-bag path,
    .svg-icon-bag polygon,
    .svg-icon-bag rect {
        fill: black;
    }
    
    .svg-icon-bag circle {
        stroke: #4691f6;
        stroke-width: 1;
    }
    
    .bag-header-link-container {
        height: 2em;
    }
    
    #purchase-counter {
        position: relative;
        left: -1.5em;
        z-index: 10;
        background-color: white;
        color: red;
        font-weight: bold;
    }
    
    .purchase-counter-two-digit {
        left: -1.74em !important;
    }
    
    @media (max-width: 519px) {
        .purchase-counter-two-digit {
            left: .46em !important;
            bottom: 1.2em !important;
        }
    }
    
    @media (max-width: 439px) {
        .purchase-counter-one-digit {
            left: .7em !important;
            bottom: 1.2em !important;
        }
    }
    
    .slick-prev {
        left: 0;
    }
    
    .slick-next {
        right: 0;
    }
    
    .slick-arrow {
        z-index: 11;
    }
    
    .slick-arrow::before {
        opacity: 0;
        color: black;
        visibility: hidden;
        transition: 1s opacity, 1s visibility;
    }
    
    .slick-slider:hover .slick-arrow::before {
        opacity: 1;
        visibility: visible;
    }
    
    .main {
        display: grid;
        grid-template-columns: 5vw minmax(10em, 10vw) minmax(20em, 80vw) 5vw;
    }
    
    @media (max-width: 709px) {
        .main {
            display: block;
            margin: 0;
            padding: 0;
        }
        .aside {
            display: grid;
            grid-template-columns: 20vw 70vw;
            margin-bottom: 2em;
        }
    }
    
    .message {
        z-index: 11;
        position: fixed;
        left: 0em;
        width: 100vw;
        font-weight: bold;
        color: black;
        padding: .4em;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
    }

    .message>div {
        width: 80vw;
        background-color: inherit;
    }

    .message-hidden {
        opacity: 0;
        visibility: hidden;
        transition: 4s opacity, 4s visibility;
    }

    .added-product-message {
        background-color: rgb(66, 250, 66);
    }

    .deleted-product-message {
        background-color: rgb(235, 35, 35);
    }

    .count-increment-product-message {
        background-color: rgb(84, 218, 72);
    }

    .count-decrement-product-message {
        background-color: rgb(240, 199, 64);
    }
    
    .hide {
        display: none !important;
    }
    
    .clothes-item-promotional-price,
    .clothes-item-promotion-price-header {
        color: red;
    }
    
    .clothes-item-crossed-retail-price {
        text-decoration: line-through;
        font-weight: lighter;
        font-size: .7em;
    }
    
    .clothes-item-sizes-container {
        display: grid;
        grid-template-columns: 30% 8% 8% 8% 8% 8% 30%;
        margin-bottom: 1em;
    }
    
    .clothes-item-sizes-container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .clothes-item-sizes-container div:nth-child(2n + 1) {
        font-size: .6em;
    }
    
    .clothes-item-sizes-container div:nth-child(2n) {
        z-index: 10;
    }
    
    .clothes-item-button {
        width: 80%;
        height: 2em;
        background-color: #222222;
        color: white;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer;
    }
    
    .clothes-item-button:hover {
        background-color: darkseagreen;
        border-color: darkseagreen;
        color: black;
    }