.clothes-header {
    text-align: center;
    font-size: 2em;
}

.clothes-header-container {
    margin-bottom: 3em;
}

.clothes-item {
    text-align: center;
}

.clothes-item-image {
    width: 15em;
    cursor: pointer;
}

.clothes-item-image-container {
    display: flex;
    justify-content: center;
}

.clothes-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5em, 1fr));
    grid-auto-rows: minmax(32em, max-content);
    margin-bottom: 2em;
    overflow: visible;
}

.clothes-item-image-container {
    margin-bottom: 1em;
}

.clothes-item-title-container {
    height: 2em;
    margin-bottom: 1em;
    padding: 0 1.2em;
}

.clothes-item-price-info-container {
    display: grid;
    grid-template-columns: 17% 28% 10% 28% 17%;
    grid-auto-rows: 2em;
}

.clothes-item-price-header {
    text-align: center;
    font-weight: bolder;
}

.top-sells-item-container {
    margin-bottom: 2em;
}